html {
  font-family: 'Roboto';
  background-color: #535353;
  height: 100%; }

body {
  padding-top: 40px;
  height: 95%;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px); }

#app {
  background-color: #535353;
  height: 100%; }
  #app div {
    height: 100%; }

#content {
  background-color: black;
  padding: 0; }
  #content footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white; }

#home .jumbotron {
  background-image: url("/img/top.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%; }
