html {
  font-family: 'Roboto';
  background-color: #535353;
  height: 100%; }

body {
  padding-top: 40px;
  height: 100%; }

#app {
  background-color: #535353;
  height: 100%; }
  #app div.container {
    height: 100%; }
    #app div.container .row {
      height: 100%; }
      #app div.container .row #content {
        background-color: black;
        color: #CCC;
        padding: 0;
        margin: 0;
        height: 100%; }
      #app div.container .row footer {
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 0; }

#home .jumbotron {
  background-image: url("/img/top.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  height: 80%; }

#home div.fb-page {
  width: 100%; }
  #home div.fb-page .span {
    width: 100%; }

img.member {
  width: 100%; }
